.DS_Store
*.orig
.bundle
db/*.sqlite3
db/*.sqlite3-journal
log/*
tmp/
coverage/*
spec/reports
.yardoc
public/assets/*
.sass-cache/*
solr/data/*
solr/pids/*
tags
bin/
rdocs/
doc/app
.buildpath
.project
.idea
.redcar
