a, img {
	border: none;
}

.content, .header, .bottom, .footer {
	color: black;
	font-family: "calibri", "verdana", "monospace";
}
.header {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#CFCFCF');
	background-image: -ms-linear-gradient(top, #FFFFFF 0%, #CFCFCF 100%);
	background-image: -moz-linear-gradient(top, #FFFFFF 0%, #CFCFCF 100%);
	background-image: -o-linear-gradient(top, #FFFFFF 0%, #CFCFCF 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #CFCFCF));
	background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #CFCFCF 100%);
	background-image: linear-gradient(top, #FFFFFF 0%, #CFCFCF 100%);
	height: 150px;
	min-height: 150px;
	_height: 150px
	*height: 150px;
	width: auto;
	}

.content {
	min-height: 450px;
	width: auto;	
	min-width: 800px;
	}
#door {
	background-color: #CCCCCC;
	height: 600px;
	width: 300px;
	border-width: 4px 2px 1px 4px;
	border-style: solid;
	border-color: #666666;
	}
#door-outline {
	background-color: transparent;
	*height: 600px; /*ie7*/
    _height: 600px; /*ie6*/	
	height: 600px;
	width: 300px;
	float: left;
	border-width: 22px 28px 0px 22px;
	margin-left: 200px;
	margin-top: 75px;
	border-style: solid;
	border-color: #E6E6E6;
	}
#signs{
	align: center;			
}
#signs .signs{
	margin: 3px;
}
#handle {
	float: right;
}
#light-switch{
	position: relative;
	top: 300px;
}
#pencil{
	float: left;
	margin-top: 75px;
	margin-left: 75px;
	clear: right;
	}
#trash{
	 position: absolute;
	 top: 750px;
	 left: 32px;
	 z-index: 97;
}
#cube{
	position: absolute;
	top: 820px;
	left: 275px;
	}
#cube a #cube-in{
	z-index: 3;
}
#cube a #cube-g{
	position: absolute;
	top: -20px;
	left: 1px;
	z-index: 5;
}
#cube a #cube-git{
	z-index: 4;
	margin-left: -10px;
}

#resume-pdf {
	position: absolute;
	top: 750px;
	left: 400px;
}
#bed{
	position: absolute;
	left: 600px;
	z-index: 98;
	top: 750px;
	}
#beer{
	position: absolute;
	left: 900px;
	z-index: 99;
	top: 850px;
}

.bottom {
	float: bottom;
	margin-top: 250px;
	height: 300px;
	*height: 300px;
    _height: 300px; 
	min-height: 300px;
	max-height: 450px;
	width: auto;
}
.footer{
	text-align: center;
	position: relative;
	top: 200px;
}
#night {
	position: absolute;
	top: 0px;
	left: 0px;
	right: -500px;
	bottom: -500px;
	z-index: 998;
	background: #000000;
	background-image: url('/ak/img/stars.png');
	background-repeat:repeat-x;
	height: auto !important;
	width: auto !important;
	display: none;
}
#leave-night{
	position: relative;
	top: 112px;
	left: 424px;
}
#switch-night{
	position: relative;
	top: -42px;
	left: 559px;
}
#eyes-night{
	position: relative;
	left: 632px;
	top: 48px;
}
#night-stuff{
}

